# запрещает показ списка файлов
Options -Indexes
# задает обработку доступа, сначала должны идти все разрешения, потом запрет
Order allow,deny
# разрешаем доступ к index.php
<FilesMatch "\.(php|html|js|css|woff|svg|png)">
    Allow from all
</FilesMatch>
# если нужно при обращении к директории открывать index.php и открываем доступ соответственно
DirectoryIndex index.html index.php
<Files "./">
    Allow from all
</Files>

# запрещаем доступ ко всему отовсюду
Deny from all
